
 
  .innerCard {
    border: 2px solid #463E96; /* Adjust the color and width as needed */
    padding: 10px; /* Optional: Add padding to the innerCard */
    text-decoration: none;
    border-radius: 10px; /* Rounded corners */

  }

 
