/* print.css */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #463E96; /* Your desired header background color */
    color: #fff; /* Optional: text color for better contrast */
  }
  
  /* Additional styles for print */
  @media print {
    .no-print {
      display: none;
    }
  }
  